<template>
  <div class="gantt">
    <div
      v-if="planList.length > 0"
      class="gantt-tree-wrapper"
    >
      <div class="padding-wrapper">
        <div class="padding">
          <div>
            日期
          </div>
          <div>
            星期
          </div>
        </div>
        <div
          ref="treeWrapperRef"
          class="tree-wrapper"
          @mouseover="changeFlag(true)"
          @scroll="scrollTree"
        >
          <GCTree
            :db-click-func="dbClickFunc"
            :list="planList"
            :is-open="false"
          />
        </div>
      </div>
      <div class="gantt-wrapper">
        <GanttChart
          ref="ganttChartRef"
          :list="planList"
          @mouseover="changeFlag(false)"
          @handle-scroll-tree-after-gantt-scroll="scrollTreeAfterGanttScroll"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import GCTree from './GcTree/index.vue'
import GanttChart from './GanttChart/index.vue'
import { watchEffect, ref,defineProps } from 'vue'

// 同步滚动
const treeWrapperRef = ref([])
const ganttChartRef = ref([])

// 因为需要去改变list 所以要定义变量接收
const props = defineProps({
  list: {
    type: Array,
    default: () => [],
    require: true
  },
  dbClickFunc: {
    type: Function,
    default: () => Function
  }
})

const flag = ref(true)
function changeFlag(val) {
  flag.value = val
}

function scrollTree() {
  if (flag.value) {
    ganttChartRef.value.ganteBody.scrollTop = treeWrapperRef.value.scrollTop
  }
}

function scrollTreeAfterGanttScroll(val) {
  if (!flag.value) {
    treeWrapperRef.value.scrollTop = val
  }
}

const planList = ref([])

watchEffect(() => {
  planList.value = props.list
})

</script>

<style lang="less" scoped>
.gantt {
  width: 100%;
  height: 100%;
  .gantt-tree-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    .gantt-wrapper {
      border: 1px dashed #ddd;
      width: calc(100% - 350px);
      // flex-grow: 1;
      height: 100%;
      overflow: hidden;
    }

    .padding-wrapper {
      color: #fff;
      height: 100%;
      background-color: #0d274f;
      border: 1px dashed #ddd;
      border-right: none;
      width: 350px;
      .padding {
        height: 50px;
        display: flex;
        flex-direction: column;
        div{
          flex: 1;
          text-align: left;
          display: flex;
          align-items: center;
          margin-left: 12px;
          font-size: 12px;
        }
      }
      .tree-wrapper {
        height: calc(100% - 50px);
        overflow: auto;
      }

      .tree-wrapper::-webkit-scrollbar {
        width: 0px;
        height: 10px;
        // height: 10px; // 高度写不写，都不影响，因为会根据内容的长度自动计算
      }
      .tree-wrapper::-webkit-scrollbar-thumb {
        background: rgba(42, 139, 221, 0.5); // 滑块颜色
        border-radius: 5px; // 滑块圆角
      }
    }
  }
}
</style>
