<template>
  <div class="ztree_content_wrap">
    <div class="zTreeDemoBackground left">
      <ul class="ztree">
        <GCTreeItem
          v-for="(m, i) in list"
          :key="i"
          :model="m"
          :num="i"
          :nodes="list.length"
          :trees="list"
          root="0"
          :callback="func"
          :db-click-func="dbClickFunc"
        />
      </ul>
    </div>
  </div>
</template>

<script setup>
import { onMounted,defineProps } from 'vue'
import GCTreeItem from './GCTreeItem.vue'

const props = defineProps({
  list: {
    type: Array,
    default: () => []
  },
  // 点击节点回调
  func: {
    type: Function,
    default: () => Function
  },
  // 点击展开回调
  dbClickFunc: {
    type: Function,
    default: () => Function
  },
  // 是否展开
  isExpand: {
    type: Boolean,
    default: () => false
  }
})

function initTreeData() {
  // const tempList = props.list

  // 递归操作，增加删除一些属性。比如: 展开/收起
  const recurrenceFunc = (data) => {
    data.forEach((m) => {
      m.clickNode = Object.hasOwn(m, 'clickNode') ? m.clickNode : false
      if (m?.children) {
        if (m.children.length > 0) {
          m.isExpand = m?.isExpand ? m.isExpand : props.isExpand
          recurrenceFunc(m.children)
        } else {
          Reflect.deleteProperty(m, 'children')
        }
      }
    })
  }

  recurrenceFunc(props.list)
}

onMounted(() => {
  initTreeData()
})

</script>

<style>
div.ztree_content_wrap {
  /* height: 380px; */
}
div.ztree_content_wrap div.left {
  float: left;
  width: 100%;
}
div.zTreeDemoBackground {
  width: 100%;
  /* height: 500px; */
  text-align: left;
}

.expendIcon {
  background-position: -74px -36px;
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('../images/zTreeStandard.png');
}

ul.ztree {
  height: auto;
}

.ztree * {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree {
  margin: 0;
  padding:0 5px;
  color: #fff;
}
.ztree li {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}
.ztree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.ztree li ul.line {
  background: url('../images/line_conn.gif') 0 0 repeat-y;
}

.ztree li a {
  padding: 1px 3px 0 5px;
  margin: 0;
  cursor: pointer;
  height: 100%;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}
.ztree li a:hover {
  text-decoration: underline;
  color: rgb(172, 232, 162);
}
.ztree li a.curSelectedNode {
  padding-top: 0px;
  background-color: #191d22;
  color: #fff;
  height: 24px;
  border: 1px #191d22 solid;
  opacity: 0.8;
}
.ztree li span {
  line-height: 16px;
  margin-right: 2px;
  top: 3px;
  display: inline-block;
}
.ztree li span.button {
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('../images/zTreeStandard.png');
  *background-image: url('../images/zTreeStandard.gif');
}

.ztree li span.button.switch {
  width: 18px;
  height: 18px;
}
.ztree li span.button.root_open {
  background-position: -92px -54px;
}
.ztree li span.button.root_close {
  background-position: -74px -54px;
}
.ztree li span.button.roots_open {
  background-position: -92px 0;
}
.ztree li span.button.roots_close {
  background-position: -74px 0;
}
.ztree li span.button.center_open {
  background-position: -92px -18px;
}
.ztree li span.button.center_close {
  background-position: -74px -18px;
}
.ztree li span.button.bottom_open {
  background-position: -92px -36px;
}
.ztree li span.button.bottom_close {
  background-position: -74px -36px;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu {
  background-position: -56px 0;
}
.ztree li span.button.center_docu {
  background-position: -56px -18px;
}
.ztree li span.button.bottom_docu {
  background-position: -56px -36px;
}
</style>
