<template>
  <div class="gante">
    
      <div
        ref="ganteHeader"
        class="gante-header"
      >
        <div
          v-for="item in tableHeaderData"
          :key="item.date"
          class="date-column"
        >
          <div class="date">
            {{ item.date }}
          </div>
          <div class="time-column">
            <div
              v-for="time in item.child"
              :key="time"
              class="time"
            >
              {{ time }}
            </div>
          </div>
        </div>
      </div>
      <div
        ref="ganteBody"
        class="gante-body"
        @scroll="scrollSync"
      >
        <TableItem
          v-for="item in list"
          :key="item.number"
          :model="item"
        />
      </div>
  </div>
</template>

<script setup>
import { defineEmits,defineProps,defineExpose, ref, watch } from 'vue'
import dayjs from 'dayjs'
import TableItem from './TableItem.vue'

const emit = defineEmits(['handleScrollTreeAfterGanttScroll'])

const props = defineProps({
  list: {
    type: Array,
    required: true,
    default: () => []
  },
  ganteTimeStr: {
    type: String,
    required: false,
    default: ''
  }
})

const ganteHeader = ref()
const ganteBody = ref()

// 同步滑动
function scrollSync () {
  ganteHeader.value.scrollLeft = ganteBody.value.scrollLeft
  if (ganteBody.value.scrollTop > 0) {
    emit('handleScrollTreeAfterGanttScroll', ganteBody.value.scrollTop)
  }
}

let startDate = null
let endDate = null

// 还是用forEach 一次循环解决
function getBeginAndEndDate(data = []) {
  data.forEach(item => {
    if (!startDate) {
      startDate = item.startDate
    } else if (compareTwoDate(startDate, item.startDate)) {
      startDate = item.startDate
    }

    if (!endDate) {
      endDate = item.endDate
    } else if (compareTwoDate(item.endDate, endDate)) {
      endDate = item.endDate
    }
  })

  endDate = getRecentThursday(endDate)
  startDate = getLastThursday(startDate)
}

// 获取当前日期最近的星期四
function getLastThursday(dateStr) {
  const date = new Date(dateStr)
  const diff = date.getDay() < 4 ? 3 + date.getDay() : 4 - date.getDay()
  return dayjs(date).add(-diff, 'day').format('YYYY-MM-DD')
}

function getRecentThursday(dateStr) {
  const date = new Date(dateStr)
  const diff = date.getDay() === 0 ? -3 : 4 - date.getDay()
  return dayjs(dateStr).add(diff, 'day').format('YYYY-MM-DD')
}

function compareTwoDate(param1, param2) {
  return new Date(param1).getTime - new Date(param2).getTime > 0
}

function getAllDaysBetweenTwoDate(sTime, eTime) {
  // 初始化日期列表，数组
  const diffDate = []
  let i = 0
  // 开始日期小于等于结束日期,并循环
  while (new Date(sTime).getTime() <= new Date(eTime).getTime()) {
    diffDate[i] = sTime

    // 获取开始日期时间戳
    const sTimeTs = new Date(sTime).getTime()

    // 增加一天时间戳后的日期
    const nextDate = sTimeTs + (24 * 60 * 60 * 1000)

    // 拼接年月日，这里的月份会返回（0-11），所以要+1
    const y = new Date(nextDate).getFullYear() + '-'
    const m = (new Date(nextDate).getMonth() + 1 < 10) ? '0' + (new Date(nextDate).getMonth() + 1) + '-' : (new Date(nextDate).getMonth() + 1) + '-'
    const d = (new Date(nextDate).getDate() < 10) ? '0' + new Date(nextDate).getDate() : new Date(nextDate).getDate()

    sTime = y + m + d

    // 增加数组key
    i++
  }
  return diffDate
}

// 根据客户需求改
let allWorkDate = []
const tableHeaderData = ref([])
function getTableHeaderData() {
  allWorkDate = getAllDaysBetweenTwoDate(startDate, endDate)
  console.log(allWorkDate)
  // allWorkDate.value = dateArr
  const appendArr = []
  allWorkDate.forEach((item, index) => {
    if (index % 7 === 0) {
      appendArr.push(item)
    }
  })
  appendArr.forEach(item => {
    const obj = {
      date: item,
      child: []
    }
    let i = 1
    while (i <= 7) {
      obj.child.push(i)
      i++
    }
    tableHeaderData.value.push(obj)
  })
}

function setTableColumnStyle(list) {
  list.forEach(item => {
    const indexObj = getIndexAndEnd(item)
    const { indexEnd, indexStart } = indexObj
    // if (item.name === '详细设计前期启动') {
    //   console.log(indexEnd, indexStart, item)
    // }
    const width = (indexEnd - indexStart) * 30
    const left = indexStart * 30
    item.style = `margin-left:${left}px;width:${width}px;`
    if (item.children) {
      setTableColumnStyle(item.children)
    }
  })
}

function getIndexAndEnd (task) {
  const { startDate, endDate } = task
  let indexStart = 0
  let indexEnd = 0

  // console.log(startDate, allWorkDate)

  indexStart = allWorkDate.indexOf(dayjs(new Date(startDate)).format('YYYY-MM-DD'))
  indexEnd = allWorkDate.indexOf(dayjs(new Date(endDate)).format('YYYY-MM-DD')) + 1

  return { indexStart, indexEnd }
}

const tableData = ref([])

function flatten (arr) {
  return arr.reduce((result, item) => {
    return result.concat(item, (Array.isArray(item.children) ? flatten(item.children) : []))
  }, [])
}

watch(() => props.list, (val) => {
  tableData.value = flatten(val)
  getBeginAndEndDate(tableData.value)
  getTableHeaderData()
  setTableColumnStyle(val)
}, {
  immediate: true
})

defineExpose({
  ganteBody
})

</script>

<style lang="less" scoped>
.gante {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  background: rgba(13, 39, 79, 1);
  background-image: url("../images/ganteBg.png");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  .workerType {
    position: relative;
    left: 0px;
    width: 50px;
    .header {
      width: 100%;
      height: 45px;
      background-image: url("../images/ganteBg.png");
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .gante-header {
      color: #fff;
      overflow-y: scroll;
      top: 0;
      left: auto;
      display: flex;
      .date-column {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
        .date {
          box-sizing: border-box;
          border-bottom: 1px solid rgba(42, 139, 221, 0.2);
          border-right: 1px solid rgba(42, 139, 221, 0.2);
          background-size: 100% 100%;
          background-image: url("../images/bg.png");
          padding: 5px 0px;
        }
        .time-column {
          height: 25px;
          display: flex;
          justify-content: space-between;
          .time {
            box-sizing: border-box;
            background: rgb(18, 57, 97);
            flex-shrink: 0;
            border-right: 1px solid rgba(42, 139, 221, 0.2);
            border-bottom: 1px solid rgba(42, 139, 221, 0.2);
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .gante-header::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    .gante-body{
      position: relative;
      overflow: scroll;
      height: calc(100%  - 50px);
      display: flex;
      flex-direction: column;
      .table-column{
        position: relative;
        width: 100%;
        .tableContent {
          min-width: 50px;
          background-color: rgb(61, 118, 169);
          line-height: 25px;
          height: 25px;
          border: 1px solid rgba(255, 255, 255, 0.5);
          // border-left: 1px solid rgba(255, 255, 255, 0.5);
          // border-right: 1px solid rgba(255, 255, 255, 0.5);
          font-size: 0.625vw;
          // position: absolute;
          box-sizing: border-box;
          .aoText {
            font-size: 0.625vw;
            word-wrap: break-word;
          }
          .aoText:nth-child(1) {
            color: #c1c1d9;
          }
          .aoText:nth-child(1) {
            color: #c1c1d9;
          }
        }
      }
    }

    .gante-body::-webkit-scrollbar {
      width: 0px;
      height: 10px;
    }
    .gante-body::-webkit-scrollbar-thumb {
      background: rgba(42, 139, 221, 0.5); // 滑块颜色
      border-radius: 5px; // 滑块圆角
    }
    .gante-body::-webkit-scrollbar-track {
      background: rgba(13, 39, 79, 1);
    }

}
</style>
