<template>
  <div>
    <div
      class="table-column"
      :style="model.style ? model.style : ''"
    >
      <div>
        <div class="aoText">
          {{ model.name }}
        </div>
      </div>
    </div>
    <div v-show="model.isExpand">
      <TableItem
        v-for="(item,i) in model.children"
        :key="i"
        :model="item"
      />
    </div>
  </div>
</template>
<script setup>
import { defineProps } from 'vue'
defineProps({
  model: {
    type: Object,
    required: true,
    default: () => { return {} }
  }
})

</script>

<style scoped lang="less">
.table-column{
  min-width: 50px;
  background-color: rgb(61, 118, 169);
  line-height: 25px;
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  // border-left: 1px solid rgba(255, 255, 255, 0.5);
  // border-right: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 0.625vw;
  // position: absolute;
  box-sizing: border-box;
  .aoText {
    font-size: 0.625vw;
    word-wrap: break-word;
  }
  .aoText:nth-child(1) {
    color: #c1c1d9;
  }
  .aoText:nth-child(1) {
    color: #c1c1d9;
  }
}
</style>
