<template>
  <div class="wrapper">
    <Gantt :list="list"/>
  </div>
</template>

<script setup>
import Gantt from './components/Gantt/index.vue'

const list = [{
  name:'大工作项',
  startDate:'2023/01/01',
  endDate:'2023/12/12',
  children:[
    {
      startDate:'2023/01/01',
      endDate:'2023/06/30',
      name:'小工作项1'
    },
    {
      startDate:'2023/06/30',
      endDate:'2023/12/12',
      name:'小工作项2'
    },
    {
      startDate:'2023/06/30',
      endDate:'2023/12/12',
      name:'小工作项3'
    },
    {
      startDate:'2023/06/30',
      endDate:'2023/12/12',
      name:'小工作项4'
    },
    {
      startDate:'2023/06/30',
      endDate:'2023/12/12',
      name:'小工作项5'
    }
  ]
}]
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  height: 100%;
}
.wrapper{
  margin: 12px;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 24px);
  height:40vh;
}
</style>
